{% extends "shop/base.html" %}
{% load static %}

{% block title %}
    {% if category %}{{ category.name }}{% else %}Produtos{% endif %}
{% endblock %}

{% block content %}
    <div class="d-none d-md-block d-lg-block" id="sidebar">
        <h3>Categorias</h3>
        <ul>
            <li {% if not category %}class="selected"{% endif %}>
                <a href="{% url 'shop:product_list' %}">Todas</a>
            </li>
        {% for c in categories %}
            <li {% if category.slug == c.slug %}class="selected"{% endif %}>
                <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
            </li>
        {% endfor %}
        </ul>
    </div>
    <div id="main" class="d-block product-list">
        <h1>{% if category %}{{ category.name }}{% else %}Produtos{% endif %}</h1>
        {% for product in products %}
            <div class="item card text-white bg-dark border-primary mb-3" style="width: 20rem;">
                <a href="{{ product.get_absolute_url }}">
                  <img class="card-img-top"   src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" style="float:none">
                </a>
                  <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">R$ {{ product.price }}</p>
                    <a href="{{ product.get_absolute_url }}" class="btn btn-primary">Detalhes</a>
                  </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}